/* Animation for heart icon */

@keyframes horizontal-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.horizontal-spin {
  animation: horizontal-spin 3s linear infinite;
  transform-style: preserve-3d;
}

/* Animation for infinite scroll for logos */
.logo-ticker {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  user-select: none;
}

.logo-ticker ul {
  display: flex;
  list-style: none;
  gap: 60px;
  animation: scroll-left 20s linear infinite;
  width: max-content;
  margin: 0;
  padding: 0;
}

.logo-ticker:hover ul {
  animation-play-state: paused;
}

.logo-ticker li {
  flex-shrink: 0;
}

.logo-ticker img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.carousel {
  margin: 60px auto;
  width: 90%;
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.logo-card {
  flex: 0 0 4em;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

@media (max-width: 640px) {
  .logo-card {
    flex: 0 0 2em;
  }
}

.carousel .group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: scroll-horizontal 12s infinite linear;
  padding-right: 1em;
}

@media (max-width: 640px) {
  .group {
    gap: 1rem;
  }
}
@keyframes scroll-horizontal {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

/*fade in + slide up animation */
.animate-slide-up {
  animation: slide-up 0.8s ease-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slideup only when user scrolls */
.slide-up-in-view {
  animation: slide-up-in-view both 0.4s ease-out;
  animation-timeline: view(10% 5%);
  animation-range: entry 5% cover 50vh;
}

@keyframes slide-up-in-view {
  from {
    opacity: 0.5;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Landing page section animations on scroll */
.autoShow{
  animation: text-appear both;
  animation-timeline: view(10% 5%);
  animation-range: entry 20% cover 20vh;
}

@keyframes text-appear{
  from{
     opacity: 0.2;
     transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.autoScaleIn {
  animation: scale-in-opacity both;
  animation-timeline: view();
  animation-range: entry 20% cover 60vh;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

@keyframes scale-in-opacity {
  from {
    opacity: 0.5;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);   
  }
}

/* solutions section for mobile */
@keyframes slideUpIcon {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideUpIcon {
  animation: slideUpIcon 0.5s ease-out both;
  animation-delay: 0.1s;
}

.animate-slideInFromLeft {
  animation: slideInFromLeft both;
  animation-timeline: view();
  animation-range: entry 20% cover 60vh;
  animation-duration: 0.6s;
  animation-delay: 0.2s;
}

.animate-slideInFromRight {
  animation: slideInFromRight 0.6s ease-out both;
  animation-timeline: view();
  animation-range: entry 20% cover 60vh;
  animation-delay: 0.2s;
}

/* Animation for the testimonial section */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.8s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;

}

.animate-slideInRight {
  animation: slideInRight 0.8s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

/* Loading-spinner */
.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #14b8a6; 
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframes for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
