/* Animation for heart icon */

@keyframes horizontal-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.horizontal-spin {
  animation: horizontal-spin 3s linear infinite;
  transform-style: preserve-3d; 
}

/* Animation for infinite scroll */
.logo-ticker {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  user-select: none;
}

.logo-ticker ul {
  display: flex;
  list-style: none;
  gap: 60px;
  animation: scroll-left 20s linear infinite;
  width: max-content;
  margin: 0;
  padding: 0;
}

.logo-ticker:hover ul {
  animation-play-state: paused;
}

.logo-ticker li {
  flex-shrink: 0;
}

.logo-ticker img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Logos scrolling animation */
.carousel{
  margin: 100px auto;
  width: 90%;
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar{
  display: none;
}

.card{
  flex: 0 0 5em;
  padding: 1em;
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 12s infinite linear;
  padding-right: 1em;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}