.card-list{
    margin-bottom: 100px;
}

.card-list .card-item .card-link{
    width: 400px;
    display: block;
    background-color: lightblue;
    border-radius: 12px;
    padding: 20px;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

