/* swiper-custom.css */

.swiper-button-custom {
  position: absolute;
  top: 40%;
  z-index: 10;
  background: #f3f4f6;
  color: #0f172a;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.swiper-button-custom:hover {
  background-color: #e5e7eb;
}

/* Pagination Bullets */
.custom-bullet {
  width: 10px;
  height: 10px;
  background: #cbd5e1;
  border-radius: 9999px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-bullet-active {
  background-color: #0f172a;
}
